@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --header: 186.20000000000005, 93.5%, 81.8%;
  --header-foreground: 228.60000000000002, 84%, 4.9%;
}

.dark {
  --header: 0, 0%, 14.9%;
  --header-foreground: 210, 40%, 98%;
}
